body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: green;
    text-align: center;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    border-radius: 10px;
    height: 300px;
    padding: 15px;
    margin: 200px 500px 50px 500px;
}

#expenseBlock {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100px;
    color: white;
    background-color: lightblue;
    border-radius: 3px;
    font-size: 18px;
    margin: 0 15px;
}

#expenseBlock:hover{
    background-color: red;
}

#analysisBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100px;
    color: white;
    background-color: lightblue;
    border-radius: 3px;
    font-size: 18px;
    margin: 0 15px;
}

#analysisBlock:hover{
    background-color: red;
}

#reset-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #dc3545;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#reset-btn:hover {
    background-color: #c82333;
}
